
// Section contact
section {
    h2 {
        margin-bottom: 0;
        font-size: 1.5em;
        font-weight: 900;
        text-align: center;
        line-height: 1.3;
    }
}

.contact_title {
    background-image: url(../img/background_contact.jpg);
}

.contact {
    height: auto !important;
    padding: $m*2 $m 0 $m !important;
    & > h1, & > h2, & > p  {
        width: 100%;
    }

    & > h1 {
        padding-top: $m * 3;
        margin-bottom: $m * 1.5;
    }
    .go_to_form {
        width: 100%;
        margin-bottom: $m * 1.5;
    }
    & > h2 {
        margin-bottom: $m;
    }
    & > ul {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: $m * 1.5;
    }   
    & > a {
        display: flex;
        align-items: center;
        gap: $m;
    }
}
.contact_alert_message {
    width: 100% !important;
    height: auto;
    text-align: center;
    color: white;
}
.contact_direct {
    padding-bottom: 0;
    height:auto !important;

    .content {
        width: 100%;
        text-align: center;
        padding: $m 0;

        i {
            background-color: #343a40;
            border-radius: 50%;
            width: 1.5em;
            height: 1.5em;
            display: table-cell;
            color: white;
        }

        p {
            margin: 1em;
            color: #343a40;
            font-weight: 700;
        }

        @include media(sm) {
            display: inline-block;
            width: 49.7%;
        }

        @include media(md) {
            width: 350px !important;
        }
    }

    @include media(sm) {
        display: block;
        text-align: center;
    }

}
.contact_direction_form {
    height: auto !important;
    width: 100%;

    @include media(md) {
        width: 1023px;
        margin: auto;
        display: block;
        text-align: center;
    }
}

.contact_direction, .contact_form {
    @include media(sm) {
        width:750px !important;
    }
    @include media(md) {
        width: 480px !important;
        display: inline-block;
        vertical-align: top;
        padding: 0 $m/2;
        margin-top: 0 !important;
        margin-bottom: $m*2 !important;
    }

    & > iframe {
        @include media(md) {
            height: 29.5vh !important
        }
    }

    & > h2, & > p {
        @include media(md) {
            text-align: left !important;
        }
    }
    .invalid-feedback{
        text-align: left;
    }
}

.contact_direction {
    height: auto !important;
    width: 100%;

    p {
        text-align: center;
    }
    & > h2 {
        margin-bottom: $m;
    }
    & > * {
        width: 100%;
    }
    & > iframe{
        height: 55vh;
    }
    :last-child {
        text-align: center;
    }
}

.contact_form {
    margin-top: $m*2;
    width: 100%;

    & > h2{
        width: 100%;
        margin-bottom: $m;
    }
    & > form{
        width: 100%;
        & > * {
            width: 100%;
            margin-bottom: $m;
        }
    }

    & > a {
        margin-bottom: $m;
    }
}

#direction, #form {
    @include media(md) {
        width: 510px;
        display: inline-block;
        vertical-align: top;
        margin-top: 0;
        padding-top: 0;
        padding-bottom: 0;
        margin-bottom: 50px;
    }

    & > h2,  & > p {
        @include media(md) {
            text-align: left;
         }
    }

    & > iframe {
        @include media(md) {
           height: 32vh;
        }
    }
}