

$m_event: $m * 1.7;
.event {
    height: auto !important;
    .text_img {
        z-index: -1;
        position: relative;
    }

    p{
        margin-bottom: 0.1em;
    }

    i {
        margin-top: 0 !important;
    }
    .card {
        vertical-align: top;
        z-index: -1;
        border:0;
        margin: $m*1.5 0;
        border-radius: $m/2;
        -webkit-box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 0.65);
        -moz-box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 0.65);
        box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 0.65);
        ul{
            margin-left: $m/2;
        }
        
        .content {
            padding: 30px;
        }

        h4 {
            margin-bottom: $m/2;
            width: 100% !important;
            text-align: left;
            font-weight: 700;
        }

        img {
            border-radius: $m/2 $m/2 0 0;
            width: 100% !important;
        }

        @include media(sm) {
            width: 425px;
        }

        @include media(md) {
            margin: $m;
            display: inline-block;
        }
    }

    @include media(md) {
        display: block;
        width: 1023px;
        margin: 0 auto;
        text-align: center;
    }
}

.event_title {
    background-image: url(../img/background_event.jpg);
}

.custom-date-text{
    text-align: left !important;
}

.event_alert_message {
    width: 100% !important;
    height: auto;
    text-align: center;
    color: white;
}