
footer {
    padding: 1em 0em;
    background-color: #343a40;
    color: white;
    & > a {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: $m;
        font-weight: 800;
        color: white;
    }
    & > .social {
        width:100%;
        margin-top: $m;
        padding: 0 $m/1 0 $m;
    
        img {
            width: 2.5em;
            border-radius: 50%;
        }

        @include media(md) {
            display:none;
        }
    }
    & > p {
        width: 100%;
        text-align: center;
    }
}


