// Menu
header {
    z-index: 1;
    width: 100%;
    position: fixed;
    height: 79px;
    margin: 0 auto;
    padding: 0;
    background-color: white;
    -webkit-box-shadow: 0px 0px 24px -12px rgba(0,0,0,0.84);
    -moz-box-shadow: 0px 0px 24px -12px rgba(0,0,0,0.84);
    box-shadow: 0px 0px 24px -12px rgba(0,0,0,0.84);

    nav{
        position: fixed;
        left:0 !important;
        display: flex;    width: 100%;

        @include media(md) {
            position:relative;
            width:1023px;
            margin:0 auto;
        }
    
        a:last-child {
            margin-left: auto;
        }
    
        .logo_header {
            width: 6em;
            height: 4.5em;
            position: fixed;
            margin: 0 auto;
            left: 0;
            right: 0;
            top: 5px;
            z-index: 1;
            @include media(md) {
                position: relative;
                top: 7px;
                padding-left: 13px;
                width: 7em;
            }
        }
        
        .menu_mobile {
            display: flex;
            padding: $m*1.4 $m $m*1.4 !important;
            width: 100%;

            & > .text-dark {
                @include media(md) {
                    padding-right: 28px;
                    font-weight: 600;
                }
           }
            & > .social_header {
                margin-left: auto;

                & > .social {
                    width: 10em; 

                    img {
                        background-color:#343a40;
                        width: 2em;
                        margin-top: -5px;
                        border:2px solid #343a40;
                    }
                }
            }

            @include media(md) {
               padding: $m*1.5 $m $m*1.5 !important;
            }
        }

        .menu-container {
            position: absolute;
            width: 100%;
            top:0;
            left:0 !important;
            padding: $m*1.4 $m $m !important;
            height: 100vh;
            background-color: white;
            display: none;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 4em 1fr;
            & > a:nth-child(2) {
                text-align: right;
            }
            .menu {
                grid-column: 2 span;
                display: flex;
                flex-direction: column;
                margin-bottom: $m;
                & > li {
                    margin-top: 1em;
                    margin-bottom: 1em;
    
                    & > a {
                        display: grid;
                        font-size: 1.3em;
                        & > i {
                            font-size: 1em !important;
                        }
                        grid-template-columns: 1.7em 1fr;
                        align-items: center;
                    }
                }
            }
            .social {
                grid-column: 2 span;
                width: 100%;
                margin-top: auto;
    
                .youtube {
                    img {
                        background-color: #e5403b;
                        border: 2px solid #e5403b;
                    }
                }
            
                .facebook {
                    img {
                        background-color: #4681c3;
                        border: 2px solid #4681c3;
                    }
                }
            
                .instagram {
                    img {
                        background-color: #E3005F;
                        border: 2px solid #E3005F;
                    }
                }
            }
        }
    }
    @include media(md) {
        height:87px;
    }
}