.home-logo {
    width: 65vw;
    height: 65vw;
}

// Home
.home {
    background-image: url(../img/background_home.jpg);
}

#about {
    height: auto;
    padding: $m*3 $m*2;
    flex-direction: column;
    align-items: baseline;

    @include media(sm) {
        width: 768px;
        margin: 0 auto;
    }
}

.title {
    height: auto;
    color: #343a40;
    padding: $m/2 $m;

    :last-child {
        margin-bottom: 10px;
    }
    & > h1, & > h2 {
        width: 100%;
        text-align: left;
        margin-bottom: $m;
    }
    h2 {
        margin-bottom: 0;
        font-size: 2em;
        font-weight: 900;
        text-align: center;
        line-height: 1.3;
    }
}

.RRSS {

    & > :last-child {
        padding-bottom:$m*2;
    }

    .RRSS_Content {
        width:100%;
        margin: 0 auto;

        @include media(md) {
            width: auto;
        }
    }

    .RRSS_Card {
        height: auto;
        color: #343a40;

        & > h1, & > h2 {
            width: 100%;
            text-align: left;
            margin-bottom: $m;
        }
        h2 {
            margin-bottom: 0;
            font-size: 2em;
            font-weight: 400;
            text-align: center !important;
            line-height: 1.3;
        }
    }

    #youtube,  #facebook, #instagram {
        background-position: center;
        background-size: cover;
        padding:30px 0;
        width:100%;
        margin: $m/2 0;
    
        img {
            width: 70px;
        }
        p {
            font-weight: 500;
            color: white;
            margin-bottom: -3px;
        }
        b {
            font-weight: 900;
        }
        text-align: center;
    
        @include media(sm) {
            width: 10%;
            display: table-cell;
        }
        
        @include media(md) {
            width: 300px;
            display: inline-block;
            margin: 20px 5px;
        }
    }

    #youtube {
        background-image: url(../img/youtube_bg.jpg);
    }
    #facebook {
        background-image: url(../img/facebook_bg.jpg);
    }
    #instagram {
        background-image: url(../img/instagram_bg.jpg);
    }
    
}

