// variables responsive:
$breakpoint-xs: 360px;
$breakpoint-sm: 767px;
$breakpoint-md: 1023px;
$breakpoint-lg: 1360px;

@mixin media($media) {
    @if $media == xs-md {
        @media (min-width: 0px) and (max-width: $breakpoint-md) { @content; }
    }
    @if $media == xs-sm {
        @media (min-width: 0px) and (max-width: $breakpoint-sm) { @content; }
    }
    @if $media == xs {
        @media (max-width: $breakpoint-sm) { @content; }
    }
    @else if $media == sm {
        @media (min-width: $breakpoint-sm) { @content; }
    }
    @else if $media == md {
        @media (min-width: $breakpoint-md) { @content; }
    }
    @else if $media == sm-md {
        @media (min-width: $breakpoint-sm) and (max-width: $breakpoint-md) { @content; }
    }
    @else if $media == md-lg {
        @media (min-width: $breakpoint-md) and (max-width: $breakpoint-lg) { @content; }
    }
    @else if $media == lg {
        @media (min-width: $breakpoint-lg) { @content; }
    }
}

.menu-grid-active{
    display:none;
    @include media(xs-md) {
        display:grid !important;
    }
}

.mobile {
    display:none;

    @include media(xs-md) {
        display:block;
    }
}
.desktop {
    display:block;

    @include media(xs-md) {
        display:none;
    }
}

// Pallete
$primary : #F29F05; 
$secundary: #056DF2;
$warning: #fe0000;
// Init propeties
body, ul, li, h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

ul, li {
    text-decoration: none;
    list-style: none;
}

body {
    font-family: sans-serif;
    background-color:#f9f9f9;
}

a{
    text-decoration: none !important;
    color: $primary;
    &:focus{
        color: $primary;
    }
    &:active {
        color: $secundary;
    }
}

i {
    font-size: 1.6em;
    vertical-align: middle;
}

// App properties
$m :20px;
$maxWidth : calc(100vw - 20px);
$maxHeight: calc(100vh - 10px);

//General styles
section {
    i {
        font-size: 2.5em;
    }
    height: 100vh;
    display:  flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    // vertical-align: middle;
    padding: $m*1.5 $m;
    .social {
        padding: 0 0 0 $m/1.45;
    }
}

// social
.youtube {
    color:#fe0000 !important;
}

.whatsapp {
    color: #00e676;
}

.facebook {
    color: #1b74e4;
}

.email {
    color: #828386;
}

.instagram {
    color: #000000;
}

.social{
    width: $maxWidth;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: space-between;
    & > a:nth-child(2){
        text-align: center;
    }
    & > a:last-child{
        text-align: right;
    }

    img {
        width: 2.5em;
        border-radius: 50%;
    }
}

.legal-iframe{
    margin-top: $m*4;
    width: 100%;
    height: 80vh;
}

.ourhistory_content{
    max-width: 100%;
    * {
        max-width: 100%;
    }
}

.banner {
    background-position: top;
    background-size: cover;
    height: auto;
    padding: 174px $m 100px $m;

    :first-child {
        margin-top: auto;
    }

    :last-child{
        margin-bottom: auto;
        // margin-top: auto;
    }

    .social {
        padding: 0 26% !important;
        .facebook{
            margin:0;
        }
    }

    h2 {
        font-size: 2em;
        font-weight: 400;
        width: 6.5em;
        color: white;
        text-align: center;
        line-height: 0.8;
        text-shadow: 0px 0px 6px rgba(0,0,0,0.41);

        @include media(sm) {
            width:auto;
          }
    }
    
    h1 {
        font-size: 3em;
        font-weight: 400;
        color: white;
        text-align: center;
        line-height: 1;
        text-shadow: 0px 0px 6px rgba(167, 161, 161, 0.41);
    }

    h1, h2, h3, h4, h5, h6 {
        font-family: 'Russo One', sans-serif;
    }

    p {
        color: #352c2c;
        font-size: 1em;
        margin-top: 1em;
        padding: 8px 20px;
        background-color: #f3b000;
        text-align: center;
        font-weight: 600;
        border-radius: 50px;
    }
}
