.our_history_title, .contact_title, .event_title {
    p { 
        color: white;
        font-size: 1.25em;
        margin-top: 0;
        padding: 0;
        background: none;
        text-align: center;
        font-weight: 100;
        border-radius: 0;
    }
}

.our_history_title {
    background-image: url(../img/background_our_history.jpg);
}

.our_history {
    height: auto;
    padding: $m*3 $m*2;
    flex-direction: column;
    align-items: baseline;
    display: block;

    & > h1 {
        text-align: left;
        width: 100%;
    }
    & > img{
        width: 100%;
        padding: 0;
        margin: 0;

        @include media(md) {
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }
    }
    & > * {
        margin-bottom: $m !important;
    }

    & > .ourhistory_content {
        @include media(md) {
            width: 50%;
            display: inline-block;
            padding-right: 20px;
        }
    }

    @include media(sm) {
        width: 768px;
        margin: 0 auto;
    }

    @include media(md) {
        width: 1023px;
    }
}