.privacy_policy_title, .contact_title, .event_title {
    p { 
        color: white;
        font-size: 1.25em;
        margin-top: 0;
        padding: 0;
        background: none;
        text-align: center;
        font-weight: 100;
        border-radius: 0;
    }
}

.privacy_policy_title {
    background-image: url(../img/background_privacy_policy.jpg);
}

.privacy_policy {
    height: auto;
    padding: $m*3 $m*2;
    flex-direction: column;
    align-items: baseline;
    display: block;

    & > h1 {
        text-align: left;
        width: 100%;
    }
    & > img{
        width: 100%;
        padding: 0;
        margin: 0;

        @include media(md) {
            width: 49%;
            display: inline-block;
            vertical-align: top;
        }
    }
    & > * {
        margin-bottom: $m !important;
    }

    & > .ourhistory_content {
        @include media(md) {
            width: 50%;
            display: inline-block;
            padding-right: 20px;
        }
    }

    @include media(sm) {
        width: 768px;
        margin: 0 auto;
    }

    @include media(md) {
        width: 1023px;
    }
}

.cookie-bar {
    position: fixed;
    display: none;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    z-index: 0;
    transition: bottom .7s,opacity .8s;
    vertical-align: top;
    box-sizing: border-box;
    max-width: 100%;
    margin: 0 auto;
    padding: 0px 20px;

    & > * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    & > .cookie-bar_msg-wrap {
        position: relative;
        max-width: 1024px;
        margin: 0 auto;
        padding: 0px 20px;
        display: flex;
        justify-content: space-between;

        & > .cookie-bar_msg {
            width: auto;
            padding: 20px 0;

            & > .cookie-bar_title {
                margin-bottom: 8px;
                font-size: 18px;
                font-weight: bold;
                line-height: 1.33;
            }

            & > .cookie-bar_desc {
                font-size: 14px;
                line-height: 1.33;
                
                & > a {
                    text-decoration: underline !important;
                }
    
            }

            @include media(xs-sm) {
                width: 100%;
                padding: 0;
            }
        }
        & > .cookie-bar_manage {
            display: flex;
            width: auto;
            padding: 0 40px;
            justify-content: flex-end;
            align-items: center;
    
            & > .cookie-bar_button {
                display: inline-flex;
                justify-content: center;
                align-items: center;
                position: relative;
                vertical-align: middle;
                transition-property: color,background-color,border-color,border-bottom-color;
                transition-duration: .2s;
                transition-timing-function: cubic-bezier(0.33, 0, 0.3, 1);
                font-family: 'SamsungOne',arial,sans-serif;
                font-size: 14px;
                font-weight: bold;
                line-height: 19px;
                white-space: nowrap;
                padding: 10px 24px 11px 24px;
                border-radius: 20px;
                color: #352c2c !important;
                background-color: #f3b000 !important;
            }

            @include media(xs-sm) {
                width: 100%;
                padding: 0;
            }
        }
        & > button {
            border: 0;
            margin: 0;
            overflow: visible;
            background: 0;
            text-align: inherit;
            border-radius: 0;
            color: inherit;
            font: inherit;
            line-height: normal;
        }
        & > .cookie-bar_close {
            position: absolute;
            top: 15px;
            right: 20px;
            width: 32px;
            height: 32px;
            padding: 8px;
            font-size: 0;
            cursor: pointer;
    
            & > .icon {
                width: 100%;
                height: 100%;
            }
        }
        @include media(xs-sm) {
            display: block;
            height: auto;
            padding: 20px;
        }
    }
    @include media(xs-sm) {
        width: 100%;
        padding: 0;
    }
}