// Toolbar
.spacer-toolbar {
    flex: 1 1 auto;
}
$m : 15px;
.side-bar{
    min-height: 100vh;
    max-height: 100vh;
    mat-drawer {
        min-width: 230px;
        padding: $m/2;
    }
    mat-drawer-content {
        max-height: 100vh;
        min-height: 100vh;
    }
    .mat-selection-list{
        padding-top: 0px;
    }
}

.footer{
    position: absolute;
    bottom: 0;
    width: calc(100% - 15px);
    margin: 0 auto;
    text-align: center;
    font-size: 0.7em;
}

.userinfo {
    font-size: small;
}