<mat-drawer-container class="side-bar">
    <mat-drawer #drawer mode="over">
        <a [href]="rootSite">
            <img [src]="'assets/logo_inv.svg'" alt="logo">
        </a>
        <mat-selection-list #shoes [multiple]="false">
            <mat-list-option *ngFor="let page of pages" (click)="redirect(page.url)">
                {{page.title}}
            </mat-list-option>
        </mat-selection-list>
        <div class="footer">
            <a href="{{privacyPolicyUrl}}">{{translate('footer_privacy_policy')}}</a>
            <p>{{translate('footer_copyright')}}</p>
        </div>
    </mat-drawer>
    <mat-drawer-content>
        <mat-toolbar color="primary">
            <button (click)="drawer.toggle()" mat-icon-button class="menu-icon" aria-label="menu icon">
                <mat-icon>menu</mat-icon>
            </button>
            <span class="ml-2">{{template.title}}</span>
            <span class="spacer-toolbar"></span>
            <span class="mr-2 userinfo">{{getUserInfo()}}</span>
            <button mat-icon-button [matMenuTriggerFor]="menu" class="user-icon" aria-label="user icon">
                <mat-icon>account_circle</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="signOut()">{{translate('user_sign_out')}}</button>
            </mat-menu>
        </mat-toolbar>
        
        <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>

