.menu-grid-active {
  display: none;
}

@media (min-width: 0px) and (max-width: 1023px) {
  .menu-grid-active {
    display: grid !important;
  }
}

.mobile {
  display: none;
}

@media (min-width: 0px) and (max-width: 1023px) {
  .mobile {
    display: block;
  }
}

.desktop {
  display: block;
}

@media (min-width: 0px) and (max-width: 1023px) {
  .desktop {
    display: none;
  }
}

body, ul, li, h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

ul, li {
  text-decoration: none;
  list-style: none;
}

body {
  font-family: sans-serif;
  background-color: #f9f9f9;
}

a {
  text-decoration: none !important;
  color: #F29F05;
}

a:focus {
  color: #F29F05;
}

a:active {
  color: #056DF2;
}

i {
  font-size: 1.6em;
  vertical-align: middle;
}

section {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  padding: 30px 20px;
}

section i {
  font-size: 2.5em;
}

section .social {
  padding: 0 0 0 13.7931px;
}

.youtube {
  color: #fe0000 !important;
}

.whatsapp {
  color: #00e676;
}

.facebook {
  color: #1b74e4;
}

.email {
  color: #828386;
}

.instagram {
  color: #000000;
}

.social {
  width: calc(100vw - 20px);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
}

.social > a:nth-child(2) {
  text-align: center;
}

.social > a:last-child {
  text-align: right;
}

.social img {
  width: 2.5em;
  border-radius: 50%;
}

.legal-iframe {
  margin-top: 80px;
  width: 100%;
  height: 80vh;
}

.ourhistory_content {
  max-width: 100%;
}

.ourhistory_content * {
  max-width: 100%;
}

.banner {
  background-position: top;
  background-size: cover;
  height: auto;
  padding: 174px 20px 100px 20px;
}

.banner :first-child {
  margin-top: auto;
}

.banner :last-child {
  margin-bottom: auto;
}

.banner .social {
  padding: 0 26% !important;
}

.banner .social .facebook {
  margin: 0;
}

.banner h2 {
  font-size: 2em;
  font-weight: 400;
  width: 6.5em;
  color: white;
  text-align: center;
  line-height: 0.8;
  text-shadow: 0px 0px 6px rgba(0, 0, 0, 0.41);
}

@media (min-width: 767px) {
  .banner h2 {
    width: auto;
  }
}

.banner h1 {
  font-size: 3em;
  font-weight: 400;
  color: white;
  text-align: center;
  line-height: 1;
  text-shadow: 0px 0px 6px rgba(167, 161, 161, 0.41);
}

.banner h1, .banner h2, .banner h3, .banner h4, .banner h5, .banner h6 {
  font-family: 'Russo One', sans-serif;
}

.banner p {
  color: #352c2c;
  font-size: 1em;
  margin-top: 1em;
  padding: 8px 20px;
  background-color: #f3b000;
  text-align: center;
  font-weight: 600;
  border-radius: 50px;
}

header {
  z-index: 1;
  width: 100%;
  position: fixed;
  height: 79px;
  margin: 0 auto;
  padding: 0;
  background-color: white;
  box-shadow: 0px 0px 24px -12px rgba(0, 0, 0, 0.84);
}

header nav {
  position: fixed;
  left: 0 !important;
  display: flex;
  width: 100%;
}

@media (min-width: 1023px) {
  header nav {
    position: relative;
    width: 1023px;
    margin: 0 auto;
  }
}

header nav a:last-child {
  margin-left: auto;
}

header nav .logo_header {
  width: 6em;
  height: 4.5em;
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 5px;
  z-index: 1;
}

@media (min-width: 1023px) {
  header nav .logo_header {
    position: relative;
    top: 7px;
    padding-left: 13px;
    width: 7em;
  }
}

header nav .menu_mobile {
  display: flex;
  padding: 28px 20px 28px !important;
  width: 100%;
}

@media (min-width: 1023px) {
  header nav .menu_mobile > .text-dark {
    padding-right: 28px;
    font-weight: 600;
  }
}

header nav .menu_mobile > .social_header {
  margin-left: auto;
}

header nav .menu_mobile > .social_header > .social {
  width: 10em;
}

header nav .menu_mobile > .social_header > .social img {
  background-color: #343a40;
  width: 2em;
  margin-top: -5px;
  border: 2px solid #343a40;
}

@media (min-width: 1023px) {
  header nav .menu_mobile {
    padding: 30px 20px 30px !important;
  }
}

header nav .menu-container {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0 !important;
  padding: 28px 20px 20px !important;
  height: 100vh;
  background-color: white;
  display: none;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4em 1fr;
}

header nav .menu-container > a:nth-child(2) {
  text-align: right;
}

header nav .menu-container .menu {
  grid-column: 2 span;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

header nav .menu-container .menu > li {
  margin-top: 1em;
  margin-bottom: 1em;
}

header nav .menu-container .menu > li > a {
  display: grid;
  font-size: 1.3em;
  grid-template-columns: 1.7em 1fr;
  align-items: center;
}

header nav .menu-container .menu > li > a > i {
  font-size: 1em !important;
}

header nav .menu-container .social {
  grid-column: 2 span;
  width: 100%;
  margin-top: auto;
}

header nav .menu-container .social .youtube img {
  background-color: #e5403b;
  border: 2px solid #e5403b;
}

header nav .menu-container .social .facebook img {
  background-color: #4681c3;
  border: 2px solid #4681c3;
}

header nav .menu-container .social .instagram img {
  background-color: #E3005F;
  border: 2px solid #E3005F;
}

@media (min-width: 1023px) {
  header {
    height: 87px;
  }
}

.event {
  height: auto !important;
}

.event .text_img {
  z-index: -1;
  position: relative;
}

.event p {
  margin-bottom: 0.1em;
}

.event i {
  margin-top: 0 !important;
}

.event .card {
  vertical-align: top;
  z-index: -1;
  border: 0;
  margin: 30px 0;
  border-radius: 10px;
  box-shadow: 0px 4px 10px -7px rgba(0, 0, 0, 0.65);
}

.event .card ul {
  margin-left: 10px;
}

.event .card .content {
  padding: 30px;
}

.event .card h4 {
  margin-bottom: 10px;
  width: 100% !important;
  text-align: left;
  font-weight: 700;
}

.event .card img {
  border-radius: 10px 10px 0 0;
  width: 100% !important;
}

@media (min-width: 767px) {
  .event .card {
    width: 425px;
  }
}

@media (min-width: 1023px) {
  .event .card {
    margin: 20px;
    display: inline-block;
  }
}

@media (min-width: 1023px) {
  .event {
    display: block;
    width: 1023px;
    margin: 0 auto;
    text-align: center;
  }
}

.event_title {
  background-image: url(../img/background_event.jpg);
}

.custom-date-text {
  text-align: left !important;
}

.event_alert_message {
  width: 100% !important;
  height: auto;
  text-align: center;
  color: white;
}

.home-logo {
  width: 65vw;
  height: 65vw;
}

.home {
  background-image: url(../img/background_home.jpg);
}

#about {
  height: auto;
  padding: 60px 40px;
  flex-direction: column;
  align-items: baseline;
}

@media (min-width: 767px) {
  #about {
    width: 768px;
    margin: 0 auto;
  }
}

.title {
  height: auto;
  color: #343a40;
  padding: 10px 20px;
}

.title :last-child {
  margin-bottom: 10px;
}

.title > h1, .title > h2 {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.title h2 {
  margin-bottom: 0;
  font-size: 2em;
  font-weight: 900;
  text-align: center;
  line-height: 1.3;
}

.RRSS > :last-child {
  padding-bottom: 40px;
}

.RRSS .RRSS_Content {
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 1023px) {
  .RRSS .RRSS_Content {
    width: auto;
  }
}

.RRSS .RRSS_Card {
  height: auto;
  color: #343a40;
}

.RRSS .RRSS_Card > h1, .RRSS .RRSS_Card > h2 {
  width: 100%;
  text-align: left;
  margin-bottom: 20px;
}

.RRSS .RRSS_Card h2 {
  margin-bottom: 0;
  font-size: 2em;
  font-weight: 400;
  text-align: center !important;
  line-height: 1.3;
}

.RRSS #youtube, .RRSS #facebook, .RRSS #instagram {
  background-position: center;
  background-size: cover;
  padding: 30px 0;
  width: 100%;
  margin: 10px 0;
  text-align: center;
}

.RRSS #youtube img, .RRSS #facebook img, .RRSS #instagram img {
  width: 70px;
}

.RRSS #youtube p, .RRSS #facebook p, .RRSS #instagram p {
  font-weight: 500;
  color: white;
  margin-bottom: -3px;
}

.RRSS #youtube b, .RRSS #facebook b, .RRSS #instagram b {
  font-weight: 900;
}

@media (min-width: 767px) {
  .RRSS #youtube, .RRSS #facebook, .RRSS #instagram {
    width: 10%;
    display: table-cell;
  }
}

@media (min-width: 1023px) {
  .RRSS #youtube, .RRSS #facebook, .RRSS #instagram {
    width: 300px;
    display: inline-block;
    margin: 20px 5px;
  }
}

.RRSS #youtube {
  background-image: url(../img/youtube_bg.jpg);
}

.RRSS #facebook {
  background-image: url(../img/facebook_bg.jpg);
}

.RRSS #instagram {
  background-image: url(../img/instagram_bg.jpg);
}

.our_history_title p, .contact_title p, .event_title p {
  color: white;
  font-size: 1.25em;
  margin-top: 0;
  padding: 0;
  background: none;
  text-align: center;
  font-weight: 100;
  border-radius: 0;
}

.our_history_title {
  background-image: url(../img/background_our_history.jpg);
}

.our_history {
  height: auto;
  padding: 60px 40px;
  flex-direction: column;
  align-items: baseline;
  display: block;
}

.our_history > h1 {
  text-align: left;
  width: 100%;
}

.our_history > img {
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (min-width: 1023px) {
  .our_history > img {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
}

.our_history > * {
  margin-bottom: 20px !important;
}

@media (min-width: 1023px) {
  .our_history > .ourhistory_content {
    width: 50%;
    display: inline-block;
    padding-right: 20px;
  }
}

@media (min-width: 767px) {
  .our_history {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1023px) {
  .our_history {
    width: 1023px;
  }
}

.privacy_policy_title p, .contact_title p, .event_title p {
  color: white;
  font-size: 1.25em;
  margin-top: 0;
  padding: 0;
  background: none;
  text-align: center;
  font-weight: 100;
  border-radius: 0;
}

.privacy_policy_title {
  background-image: url(../img/background_privacy_policy.jpg);
}

.privacy_policy {
  height: auto;
  padding: 60px 40px;
  flex-direction: column;
  align-items: baseline;
  display: block;
}

.privacy_policy > h1 {
  text-align: left;
  width: 100%;
}

.privacy_policy > img {
  width: 100%;
  padding: 0;
  margin: 0;
}

@media (min-width: 1023px) {
  .privacy_policy > img {
    width: 49%;
    display: inline-block;
    vertical-align: top;
  }
}

.privacy_policy > * {
  margin-bottom: 20px !important;
}

@media (min-width: 1023px) {
  .privacy_policy > .ourhistory_content {
    width: 50%;
    display: inline-block;
    padding-right: 20px;
  }
}

@media (min-width: 767px) {
  .privacy_policy {
    width: 768px;
    margin: 0 auto;
  }
}

@media (min-width: 1023px) {
  .privacy_policy {
    width: 1023px;
  }
}

.cookie-bar {
  position: fixed;
  display: none;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  z-index: 0;
  transition: bottom .7s,opacity .8s;
  vertical-align: top;
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  padding: 0px 20px;
}

.cookie-bar > * {
  box-sizing: border-box;
}

.cookie-bar > .cookie-bar_msg-wrap {
  position: relative;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0px 20px;
  display: flex;
  justify-content: space-between;
}

.cookie-bar > .cookie-bar_msg-wrap > .cookie-bar_msg {
  width: auto;
  padding: 20px 0;
}

.cookie-bar > .cookie-bar_msg-wrap > .cookie-bar_msg > .cookie-bar_title {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.33;
}

.cookie-bar > .cookie-bar_msg-wrap > .cookie-bar_msg > .cookie-bar_desc {
  font-size: 14px;
  line-height: 1.33;
}

.cookie-bar > .cookie-bar_msg-wrap > .cookie-bar_msg > .cookie-bar_desc > a {
  text-decoration: underline !important;
}

@media (min-width: 0px) and (max-width: 767px) {
  .cookie-bar > .cookie-bar_msg-wrap > .cookie-bar_msg {
    width: 100%;
    padding: 0;
  }
}

.cookie-bar > .cookie-bar_msg-wrap > .cookie-bar_manage {
  display: flex;
  width: auto;
  padding: 0 40px;
  justify-content: flex-end;
  align-items: center;
}

.cookie-bar > .cookie-bar_msg-wrap > .cookie-bar_manage > .cookie-bar_button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  position: relative;
  vertical-align: middle;
  transition-property: color,background-color,border-color,border-bottom-color;
  transition-duration: .2s;
  transition-timing-function: cubic-bezier(0.33, 0, 0.3, 1);
  font-family: 'SamsungOne',arial,sans-serif;
  font-size: 14px;
  font-weight: bold;
  line-height: 19px;
  white-space: nowrap;
  padding: 10px 24px 11px 24px;
  border-radius: 20px;
  color: #352c2c !important;
  background-color: #f3b000 !important;
}

@media (min-width: 0px) and (max-width: 767px) {
  .cookie-bar > .cookie-bar_msg-wrap > .cookie-bar_manage {
    width: 100%;
    padding: 0;
  }
}

.cookie-bar > .cookie-bar_msg-wrap > button {
  border: 0;
  margin: 0;
  overflow: visible;
  background: 0;
  text-align: inherit;
  border-radius: 0;
  color: inherit;
  font: inherit;
  line-height: normal;
}

.cookie-bar > .cookie-bar_msg-wrap > .cookie-bar_close {
  position: absolute;
  top: 15px;
  right: 20px;
  width: 32px;
  height: 32px;
  padding: 8px;
  font-size: 0;
  cursor: pointer;
}

.cookie-bar > .cookie-bar_msg-wrap > .cookie-bar_close > .icon {
  width: 100%;
  height: 100%;
}

@media (min-width: 0px) and (max-width: 767px) {
  .cookie-bar > .cookie-bar_msg-wrap {
    display: block;
    height: auto;
    padding: 20px;
  }
}

@media (min-width: 0px) and (max-width: 767px) {
  .cookie-bar {
    width: 100%;
    padding: 0;
  }
}

section h2 {
  margin-bottom: 0;
  font-size: 1.5em;
  font-weight: 900;
  text-align: center;
  line-height: 1.3;
}

.contact_title {
  background-image: url(../img/background_contact.jpg);
}

.contact {
  height: auto !important;
  padding: 40px 20px 0 20px !important;
}

.contact > h1, .contact > h2, .contact > p {
  width: 100%;
}

.contact > h1 {
  padding-top: 60px;
  margin-bottom: 30px;
}

.contact .go_to_form {
  width: 100%;
  margin-bottom: 30px;
}

.contact > h2 {
  margin-bottom: 20px;
}

.contact > ul {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px;
}

.contact > a {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact_alert_message {
  width: 100% !important;
  height: auto;
  text-align: center;
  color: white;
}

.contact_direct {
  padding-bottom: 0;
  height: auto !important;
}

.contact_direct .content {
  width: 100%;
  text-align: center;
  padding: 20px 0;
}

.contact_direct .content i {
  background-color: #343a40;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  display: table-cell;
  color: white;
}

.contact_direct .content p {
  margin: 1em;
  color: #343a40;
  font-weight: 700;
}

@media (min-width: 767px) {
  .contact_direct .content {
    display: inline-block;
    width: 49.7%;
  }
}

@media (min-width: 1023px) {
  .contact_direct .content {
    width: 350px !important;
  }
}

@media (min-width: 767px) {
  .contact_direct {
    display: block;
    text-align: center;
  }
}

.contact_direction_form {
  height: auto !important;
  width: 100%;
}

@media (min-width: 1023px) {
  .contact_direction_form {
    width: 1023px;
    margin: auto;
    display: block;
    text-align: center;
  }
}

@media (min-width: 767px) {
  .contact_direction, .contact_form {
    width: 750px !important;
  }
}

@media (min-width: 1023px) {
  .contact_direction, .contact_form {
    width: 480px !important;
    display: inline-block;
    vertical-align: top;
    padding: 0 10px;
    margin-top: 0 !important;
    margin-bottom: 40px !important;
  }
}

@media (min-width: 1023px) {
  .contact_direction > iframe, .contact_form > iframe {
    height: 29.5vh !important;
  }
}

@media (min-width: 1023px) {
  .contact_direction > h2, .contact_direction > p, .contact_form > h2, .contact_form > p {
    text-align: left !important;
  }
}

.contact_direction .invalid-feedback, .contact_form .invalid-feedback {
  text-align: left;
}

.contact_direction {
  height: auto !important;
  width: 100%;
}

.contact_direction p {
  text-align: center;
}

.contact_direction > h2 {
  margin-bottom: 20px;
}

.contact_direction > * {
  width: 100%;
}

.contact_direction > iframe {
  height: 55vh;
}

.contact_direction :last-child {
  text-align: center;
}

.contact_form {
  margin-top: 40px;
  width: 100%;
}

.contact_form > h2 {
  width: 100%;
  margin-bottom: 20px;
}

.contact_form > form {
  width: 100%;
}

.contact_form > form > * {
  width: 100%;
  margin-bottom: 20px;
}

.contact_form > a {
  margin-bottom: 20px;
}

@media (min-width: 1023px) {
  #direction, #form {
    width: 510px;
    display: inline-block;
    vertical-align: top;
    margin-top: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 50px;
  }
}

@media (min-width: 1023px) {
  #direction > h2, #direction > p, #form > h2, #form > p {
    text-align: left;
  }
}

@media (min-width: 1023px) {
  #direction > iframe, #form > iframe {
    height: 32vh;
  }
}

footer {
  padding: 1em 0em;
  background-color: #343a40;
  color: white;
}

footer > a {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  font-weight: 800;
  color: white;
}

footer > .social {
  width: 100%;
  margin-top: 20px;
  padding: 0 20px 0 20px;
}

footer > .social img {
  width: 2.5em;
  border-radius: 50%;
}

@media (min-width: 1023px) {
  footer > .social {
    display: none;
  }
}

footer > p {
  width: 100%;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */