.login-background {
    background-color: #303030;
    display: grid;
    width: 100%;
    height: 100vh;
    text-align: center;
    justify-content: center;
    grid-template-columns: 1fr;
    align-items: center;

    @media screen and (max-width:600px) {
        background-color: #ffffff !important;
        overflow:overlay;

        .login-card-body {
            box-shadow: none !important;
            width: 90% !important;
        }
    }


    .login-card-body{
        padding: 0px;
        width: 350px;
        margin: 0 auto;
        border-radius: 9px;
        box-shadow: 4px 3px 12px 1px rgba(0,0,0,.2), 1px 0px 1px 0 rgba(0,0,0,.14), 0 1px 3px 0 rgba(0,0,0,.12);
        h4{
            padding-top: 14px;
            margin: 0;
            text-align: center;
        }
        img {
            width: 120px;
            padding-top: 30px;
        }
        
        .login-card-title{
            padding: 10px;
            border-radius: 2px 2px 0px 0px;
            font-size: 1.2em;
            text-align: center;
        }

        .login-card-content{
            padding: 20px 30px 30px 30px;
            text-align: initial;
            font-weight: 500;
            margin-bottom: 0px;
            border-radius: 0px 0px 2px 2px;
        }

        .login-form-field{
            width: 100%;
        }

        .login-form-submit{
            margin-top: 3px;
            width: 100%;
        }

        .login-button-add{
            position: absolute;
            right: 25px;
            bottom: 25px;
        }

        .login-card-table{
            height: 50vh;
            overflow-y: scroll;
        }

        .login-button-delete{
            position: fixed;
            right: 90px;
            bottom: 25px;
        }

        .forgot-password {
            font-size: 14px;
            font-weight: 500;
            float: right;
            text-decoration: none;
            line-height: 23px;
            color: #272727;
        }

        .forgot-password:hover {
            text-decoration: underline;
            color: #01adff;
        }

        .button-row {
            margin-top: 0.3em;
        }
    }

}