<div class="login-background">    
    <mat-card *ngIf="form" class="login-card-body">
            <mat-card-title>
                <img src="assets/logo_inv.svg">
                <h1>{{translate('login_title_page')}}</h1>
            </mat-card-title>
            <form (ngSubmit)="submit()" [formGroup]="form">
                <mat-card-content class="login-card-content" [formGroup]="form">
                        <mat-form-field class="login-form-field" appearance="outline">
                            <mat-label>{{translate('login_form_field_username')}}</mat-label>
                            <input matInput
                                                id="username" 
                                                formControlName="username"
                                                type="text">
                            <mat-error id="username" *ngIf="formService.showError(form, 'username')">
                                {{formService.getFieldErrorMessages(form, 'username')}}
                            </mat-error>
                        </mat-form-field>
                <mat-form-field class="login-form-field" appearance="outline">
                    <mat-label>{{translate('login_form_field_password')}}</mat-label>
                    <input matInput         id="password"
                                            formControlName="password"
                                            type="password">
                    <mat-error id="password" *ngIf="formService.showError(form, 'password')">
                        {{formService.getFieldErrorMessages(form, 'password')}}
                    </mat-error>
                </mat-form-field>
                <div class="button-row">
                    <button 
                        mat-raised-button color="primary" 
                        class="login-form-submit" 
                        [disabled]="!form.valid" 
                        cdkFocusInitial>{{translate('login_form_btn_sign_in')}}</button>
                </div>
            </mat-card-content>
        </form>
    </mat-card>
</div>  