.html_editor_component {
  margin-bottom: 15px !important;
}

.html_editor_component mat-form-field {
  width: 100%;
}

.html_editor_component ::ng-deep .mat-tab-body-content {
  overflow: hidden !important;
}

.html_editor_component ::ng-deep mat-tab-group mat-tab-header {
  border: none !important;
}

.html_editor_component ::ng-deep .mat-form-field-wrapper {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px;
}

.html_editor_component ::ng-deep .mat-form-field-wrapper textarea {
  min-height: 30.75vh;
  max-height: 30.75vh;
}

.html_editor_component ::ng-deep ckeditor div [role="textbox"] {
  min-height: 30vh;
  max-height: 30vh;
}
/*# sourceMappingURL=html-editor.component.css.map */