.consultation-container {
  width: 80%;
  margin: 0 auto;
}

.search-bar {
  max-width: 400px;
  width: 100%;
  margin-top: 1em !important;
}

.search-bar form {
  align-items: baseline;
  text-align: right;
}

.search-bar form .search-button {
  margin-right: 10px;
}

.search-bar form mat-form-field {
  width: 100%;
  margin-right: 5px;
  height: 50px;
}

.table-div {
  display: block;
  width: 100%;
  overflow-x: auto;
  margin-top: 1em !important;
  margin-bottom: 1.5em !important;
}

.table-div .mat-table {
  width: 100%;
  max-width: 100%;
  margin: 0 15px;
  margin-bottom: 1rem;
  display: table;
  border-collapse: collapse;
}

.table-div .mat-row,
.table-div .mat-header-row {
  display: table-row;
}

.table-div .mat-cell,
.table-div .mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  width: auto;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}

.table-div .mat-column-_actions {
  width: 120px;
  min-width: 120px;
}

.table-div .mat-column-_actions button {
  min-width: 45px !important;
  padding: 0px;
  margin-right: 3px;
}

/* Using plain CSS */
@media (max-width: 1024px) {
  .consultation-container {
    width: 80%;
  }
}

@media (max-width: 524px) {
  .consultation-container {
    width: 90%;
  }
  .search-bar {
    width: 90%;
  }
  .search-bar form mat-form-field {
    width: 100% !important;
  }
}

@media (max-width: 324px) {
  .consultation-container {
    width: 90%;
  }
  .search-bar {
    width: 90%;
  }
  .search-bar form mat-form-field {
    width: 100% !important;
    height: 40px !important;
    display: block;
    margin-right: 0px !important;
  }
}
/*# sourceMappingURL=crud.component.css.map */