.spacer-toolbar {
  flex: 1 1 auto;
}

.side-bar {
  min-height: 100vh;
  max-height: 100vh;
}

.side-bar mat-drawer {
  min-width: 230px;
  padding: 7.5px;
}

.side-bar mat-drawer-content {
  max-height: 100vh;
  min-height: 100vh;
}

.side-bar .mat-selection-list {
  padding-top: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: calc(100% - 15px);
  margin: 0 auto;
  text-align: center;
  font-size: 0.7em;
}

.userinfo {
  font-size: small;
}
/*# sourceMappingURL=template.component.css.map */