form {
  width: 50%;
  margin: auto;
  text-align: center;
}

form div {
  width: 100%;
}

form div mat-form-field {
  width: 100%;
}

mat-checkbox {
  margin-bottom: 20px;
  float: left;
}

app-html-editor {
  width: 100%;
  float: left;
}

@media (max-width: 524px) {
  form {
    width: 90%;
  }
}

@media (max-width: 324px) {
  form {
    width: 90%;
  }
}
/*# sourceMappingURL=update-form.component.css.map */