<h1 mat-dialog-title>{{modal.title}}</h1>
<div mat-dialog-content>
  {{modal.message}}
</div>
<div mat-dialog-actions align="center">
    <button mat-button color="secondary" (click)="close()">{{modal.cancelButton}}</button>
    <button mat-button color="primary" (click)="submit()">{{modal.confirmButton}}</button>
</div>