

  <mat-tab-group  color="primary" (selectedTabChange)="onTabChanged($event);">
    <mat-tab *ngIf="crudDef.grid" [label]="translate('crud_grid_tab')">
      <div class="{{'crud-' + crudDef.key}}">
        <div class="consultation-container">
          <div class="search-bar">
            <form (ngSubmit)="submitSearch()" (keyup.enter)="submitSearch()" [formGroup]="searchForm" novalidate>
          
              
              <mat-form-field appearance="outline">
                <button matPrefix #submitbutton mat-icon-button class="search-button" color="primary" cdkFocusInitial>
                  <mat-icon>search</mat-icon>  
                </button>
                <input matInput formControlName="term">
                <mat-label>{{translate('crud_search_field_label')}}</mat-label>
              </mat-form-field>
            </form>
          </div>
          
          <div class="table-div table-responsive mat-elevation-z8" *ngIf="dataSource">
            <table mat-table [dataSource]="dataSource">
              <ng-container matColumnDef="_actions">
                <th mat-header-cell *matHeaderCellDef>{{translate('crud_grid_actions')}}</th>
                <td mat-cell *matCellDef="let element">
                  <button mat-raised-button *ngFor="let action of crudDef.grid.actions" (click)="executeAction(action, element.id)">
                    <mat-icon aria-label="icon">{{action.icon}}</mat-icon>
                  </button>
                  <button (click)="onSubmitAction('delete', element)"
                        mat-raised-button color="warn">
                    <mat-icon aria-label="icon">delete</mat-icon>
                  </button>
                  <button (click)="onSubmitAction('update', element)"
                        mat-raised-button color="primary">
                    <mat-icon aria-label="icon">edit</mat-icon>
                  </button>
                </td>
              </ng-container>
          
              <ng-container *ngFor='let column of crudDef.grid.columnsDef' [matColumnDef]="column.columnDef">
                <th mat-header-cell *matHeaderCellDef>{{translate(column.columnNameTermKey)}}</th>
                <td mat-cell *matCellDef="let element"> {{getElementValue(element, column.columnDef, column.format)}} </td>
              </ng-container>
          
              <tr mat-header-row *matHeaderRowDef="headers"></tr>
              <tr mat-row *matRowDef="let row; columns: headers"></tr>
            </table>
            <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab *ngIf="crudDef.forms.create" [label]="translate('crud_create_form_tab')">
      <app-create-form [crudDef]="crudDef"></app-create-form>
    </mat-tab>
    <mat-tab [label]="translate('crud_update_form_tab')" *ngIf="(idData && crudDef.forms.update) || isOnlyUpdatePage()">
      <app-update-form [crudDef]="crudDef" [idData] ="idData"></app-update-form>
    </mat-tab>
  </mat-tab-group>
