// style.scss

.consultation-container{
    width: 80%;
    margin: 0 auto;
}
.search-bar {
    max-width: 400px;    
    width: 100%;
    margin-top: 1em !important;
    form {
        align-items:baseline;
        text-align: right;
        .search-button{
            margin-right: 10px;
        }
        mat-form-field {
            width: 100%;
            margin-right: 5px;
            height: 50px;
        }
    }
}
.table-div {
    display: block;
    width: 100%;
    overflow-x: auto;
    margin-top: 1em !important;
    margin-bottom: 1.5em !important;
    .mat-table {
        width: 100%;
        max-width: 100%;
        margin:0 15px;
        margin-bottom: 1rem;
        display: table;
        border-collapse: collapse;
    }
    .mat-row,
    .mat-header-row {
        display: table-row;
    }
    .mat-cell,
    .mat-header-cell {
        word-wrap: initial;
        display: table-cell;
        padding: 0px 5px;
        line-break: unset;
        width: auto;
        white-space: nowrap;
        overflow: hidden;
        vertical-align: middle;
    }
    .mat-column-_actions{
            width: 120px;
            min-width: 120px;
            button{
                min-width: 45px !important;
                padding: 0px;
                margin-right: 3px;
            }
        }
  }

/* Using plain CSS */
@media (max-width: 1024px) {

    .consultation-container {
        width: 80%;
    }
}

@media (max-width: 524px) {

    .consultation-container {
        width: 90%;
    }
    .search-bar {
        width: 90%;
        form {
            mat-form-field {
                width: 100% !important;
            }
        }
    }
}

@media (max-width: 324px) {

    .consultation-container {
        width: 90%;
    }

    .search-bar {
        width: 90%;
        form {
            mat-form-field {
                width: 100% !important;
                height: 40px !important;
                display: block;
                margin-right: 0px !important;
            }
        }
    }
}