mat-tab-group {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

mat-form-field {
  width: 100%;
}

::ng-deep mat-tab-group mat-tab-header {
  border: none !important;
}

::ng-deep .mat-form-field-wrapper {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding: 0px;
}

::ng-deep .mat-form-field-wrapper textarea {
  min-height: 30.75vh;
  max-height: 30.75vh;
}

::ng-deep ckeditor div [role="textbox"] {
  min-height: 30vh;
  max-height: 30vh;
}
/*# sourceMappingURL=html-editor.component.css.map */