form{
    width: 50%;
    margin:auto;
    text-align: center;
    div{
        width: 100%;
        mat-form-field{
            width: 100%;
        }
    }
}

mat-checkbox{
    // text-align: left;
    margin-bottom: 20px;
    // display: inline-block;
    float: left;
}
app-html-editor{
    // display: inline-block;
    width: 100%;
    float: left;
}


@media (max-width: 524px) {

    form{
        width: 90%;
    }
}

@media (max-width: 324px) {

    form{
        width: 90%;
    }
}