<div class="mt-4"></div>
<h1 class="text-center">{{translate('crud_update_form_dialog_title')}}</h1>
<form (ngSubmit)="submit()" (keyup.enter)="submit()" [formGroup]="updateForm" novalidate>
  <div *ngFor="let field of crudDef.forms.update.fields">
      <mat-form-field *ngIf="field.controlType === 'datetime'">
        <mat-placeholder>{{translate(field.labelTermKey)}}</mat-placeholder>
        <mat-datetimepicker-toggle [for]="datetimePicker" matSuffix></mat-datetimepicker-toggle>
        <mat-datetimepicker
          #datetimePicker
          type="datetime"
          openOnFocus="true"
          timeInterval="5">
        </mat-datetimepicker>
        <input
          matInput
          [formControlName]="field.key"
          [matDatetimepicker]="datetimePicker"
          autocomplete="false">
      </mat-form-field>
      <app-html-editor *ngIf="field.controlType == 'html_editor'" 
                      class="html-editor mb-4" 
                      [config]="{
                        tabEditorLabel: translate('crud_htmleditor_editor_tab'),
                        tabCodeLabel: translate('crud_htmleditor_code_tab')
                      }"
                      [label]="translate(field.labelTermKey)" 
                      [formControlName]="field.key"></app-html-editor>
      <mat-form-field *ngIf="field.controlType == 'textbox' || field.controlType == 'number' || field.controlType == 'email' || field.controlType == 'select'"  class="mr-2" appearance="outline">
        <input matInput [formControlName]="field.key">
        <mat-label>{{translate(field.labelTermKey)}}</mat-label>
        <mat-error [id]="field.key" *ngIf="formService.showError(updateForm, field.key)">
        {{formService.getFieldErrorMessages(updateForm, field.key, crudDef.forms.update.fields)}}
        </mat-error>
      </mat-form-field>
      <div *ngIf="field.controlType == 'checkbox'"  class="mr-2">
        <mat-checkbox  [formControlName]="field.key">
          {{translate(field.labelTermKey)}}
        </mat-checkbox>
      </div>
  </div>
  <button mat-raised-button class="w-100" [disabled]="!updateForm.valid" color="primary">{{translate('crud_update_form_dialog_submit_button_label')}}</button>
</form>