
<!DOCTYPE html>
<html lang="{{lang}}" style="scroll-behavior: smooth;">
<head>
    {% block head %}
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
    <title>{% block title %}{% endblock %}</title>
    <script src="/site-internet-env/public/js/cookie_manager.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <!-- FontAwesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" crossorigin="anonymous">
    <!-- Other styles -->
    <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet">
    <!-- Custom styles for this page -->
    <link href="/site-internet-env/public/css/style.css?v=1.0.0" rel="stylesheet">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" style="position: absolute; width: 0px; height: 0px;">
        <symbol viewBox="0 0 96 96" id="delete-bold" xmlns="http://www.w3.org/2000/svg"><path d="M79.17 11.17L48 42.34 16.83 11.17l-5.66 5.66L42.34 48 11.17 79.17l5.66 5.66L48 53.66l31.17 31.17 5.66-5.66L53.66 48l31.17-31.17z"></path></symbol>
    </svg>
    {% endblock %}
</head>
<body>
    
    <div id="app">
        {% include 'components/header.html' %}
        <div class="content">
            {% block content %}{% endblock %}
        </div>
        {% block footer %}        
            <footer id="footer">
                <a href="legal">{{translate.footer_privacy_policy}}</a>
                <p>{{translate.footer_copyright}}</p>
                {% include 'components/social.html' %}
            </footer>

            <div class="cookie-bar" style="display:none" v-bind:class="{ 'd-block': showCookieMessage }">
                <div class="cookie-bar_msg-wrap">
                    <div class="cookie-bar_msg"> 
                        {{translate.cookie_message | raw}}
                    </div>
                    
                    <div class="cookie-bar_manage">
                        <a class="cookie-bar_button" href="#" v-on:click="acceptCookies(event)"> {{translate.coockie_accept_button}}</a>
                    </div>

                    <button class="cookie-bar_close" v-on:click="closeCookieMessage()">
                        <svg class="icon" focusable="false">
                          <use xlink:href="#delete-bold" href="#delete-bold"></use>
                        </svg>
                    </button>
                </div>
            </div>
        {% endblock %}
    </div>
    
    <!-- JQuery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap" rel="stylesheet">
    <!-- Vue JS -->
    <script src="https://unpkg.com/vue/dist/vue.js?v=1.0.0"></script>

    <!-- Js -->
    <script src="/site-internet-env/public/js/app.js"></script>

    <script type="text/javascript">
        $( window ).on( "load", function() {
            $('#loaderPage').fadeOut("slow");
        });
        new App().start();
    </script>
</body>
</html>