{% extends "base.html" %}
{% block title %}
    {{translate.seo_contact_title}}
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="{{translate.seo_contact_description}}">
    <meta name="keywords" content="{{translate.seo_contact_keyboards}}">
{% endblock %}
{% block content %}

    <section class="banner contact_title">
        <h1>{{translate.contact_title}}</h1>
        <p>{{translate.contact_subtitle}}</p>
    </section>
    <section class="contact_alert_message bg-danger">
        <h5>{{translate.contact_alert_message}}</h5>
    </section>
    <section class="contact_direct">
        <div class="content">
            <a class="whatsapp" target="_blank" href="https://api.whatsapp.com/send?phone={{company.whatsapp}}">
                <i class="fab fa-whatsapp"></i>
                <p>{{company.whatsapp}}</p>
            </a>
        </div>
        <div class="content">
            <a class="email" target="_blank" href="mailto:{{company.email}}">
                <i class="fas fa-envelope"></i>
                <p>{{company.email}}</p>
            </a>
        </div>
    </section>
    <section class="contact_direction_form">
        <div class="contact_direction">
            <h2>{{translate.contact_address}}</h2>
            <p>{{company.address}}</p>
            <iframe  src="{{company.gmapUrl}}" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
        </div>

        <div class="contact_form">
            <h2>{{translate.contact_form_title}}</h2>
            <form class="needs-validation" novalidate v-on:submit="submitContactForm">
                <div>
                    <input type="text" 
                            v-model="contactFormData.fullname" 
                            v-bind:class="{ 'is-invalid': contactFormErrors.fullname}" 
                            class="form-control" 
                            placeholder="{{translate.contact_input_fullname}}">
                    <div class="invalid-feedback">
                        {{translate.contact_form_fullname_error}}
                    </div>
                </div>
                <div>
                    <input type="email" 
                            v-model="contactFormData.email" 
                            v-bind:class="{ 'is-invalid': contactFormErrors.email }" 
                            class="form-control" 
                            placeholder="{{translate.contact_input_email}}">
                    <div class="invalid-feedback">
                        {{translate.contact_form_email_error}}
                    </div>
                </div>
                <div>
                    <input type="text" 
                        v-bind:class="{ 'is-invalid': contactFormErrors.subject }" 
                        v-model="contactFormData.subject" 
                        class="form-control" 
                        placeholder="{{translate.contact_input_subject}}">
                    <div class="invalid-feedback">
                        {{translate.contact_form_subject_error}}
                    </div>
                </div>
                <div>
                    <textarea name="" 
                                v-model="contactFormData.message" 
                                v-bind:class="{ 'is-invalid': contactFormErrors.message }" 
                                class="form-control" 
                                id="" 
                                cols="30" 
                                rows="3" 
                                placeholder="{{translate.contact_input_message}}"></textarea>
                    <div class="invalid-feedback">
                        {{translate.contact_form_message_error}}
                    </div>
                </div>
                <div class="invalid-feedback" v-bind:class="{ 'd-block': contactFormErrorSubmit }" >
                    {{translate.contact_form_server_error}}
                </div>
                <div class="valid-feedback" v-bind:class="{ 'd-block': contactFormSuccessfulSubmit }" >
                    {{translate.contact_form_server_ok}}
                </div>
                <button type="submit" class="btn btn-primary">{{translate.contact_btn_send_email}}</button>
            </form>
        </div>
    </section>
{% endblock %}