{% extends "base.html" %}
{% block title %}
    {{translate.seo_events_title}}
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="{{translate.seo_events_description}}">
    <meta name="keywords" content="{{translate.seo_events_keyboards}}">
{% endblock %}
{% block content %}
    <section class="banner event_title">
        <h1>{{translate.events_title}}</h1>
        <p>{{translate.events_subtitle}}</p>
    </section>
    <section class="event_alert_message bg-danger">
        <h5>{{translate.events_alert_message}}</h5>
    </section>
    <section class="event"> 
        {% for event in company.events %}
        <div class="card">
            <img src="{{event.imgUrl}}" alt="event img">
            <div class="content">
                <h4>{{event.name}}</h4>
                <p class="text-left w-100"><b>{{translate.event_location}}</b> {{event.location}}</p>
                {% if event.showCustomDateText == 1 %}
                <div class="custom-date-text">{{event.customDateText | raw}}</div>
                {% else %}
                <p class="text-left w-100"><b>{{translate.event_date}}</b> {{event.date}}</p>
                <p class="text-left w-100"><b>{{translate.event_hour}}</b> {{event.hourFrom}}{{translate.event_hour_exp}}  {{translate.event_hour_to}} {{event.hourTo}}{{translate.event_hour_exp}} </p>
                {% endif %}
                <p class="text-left w-100"><b>{{translate.event_description}}</b></p>
                <p class="text-left w-100">{{event.description}}</p>
            </div>
        </div>
        {% endfor %}
    </section>
{% endblock %}