
{% extends "base.html" %}
{% block title %}
    {{translate.seo_home_title}}
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="{{translate.seo_home_description}}">
    <meta name="keywords" content="{{translate.seo_home_keyboards}}">
{% endblock %}
{% block content %}
    <section class="banner home">
        <h1>{{translate.home_title}}</h1>
        <p>{{translate.home_subtitle}}</p>
    </section>
    <section id="about">
        {{company.presentation | raw}}
    </section>

    <section class="RRSS title">
        <h2>{{translate.RRSS_title}}</h2>
        <p>{{translate.RRSS_subtitle}}</p>

        <div class="RRSS_Content">
            <div id="youtube" class="RRSS_Card">
                <a href="{{company.youtube}}" target="_blank">
                    <ul>
                        <li><img src="public/img/youtube.svg" alt="youtube image"></li>
                    </ul>
                    {{translate.RRSS_youtube | raw}}
                </a>
            </div>

            <div id="facebook" class="RRSS_Card">
                <a href="{{company.facebook}}" target="_blank">
                    <ul>
                        <li><img src="public/img/facebook.svg" alt="facebook image"></li>
                    </ul>
                    {{translate.RRSS_facebook | raw}}
                </a>
            </div >

            <div  id="instagram" class="RRSS_Card">
                <a href="{{company.instagram}}" target="_blank">
                    <ul>
                        <li><img src="public/img/instagram.svg" alt="instagram image"></li>
                    </ul>
                    {{translate.RRSS_instagram | raw}}
                 </a>
            </div>
        </div>
    </section>
{% endblock %}