{% extends "base.html" %}
{% block title %}
    {{translate.seo_out_history_title}}
{% endblock %}
{% block head %}
    {{ parent() }}
{% endblock %}
{% block content %}
    <section class="banner privacy_policy_title" style="background-image: url({{company.privacyPolicy.coverImageUrl}});">
        <h1>{{translate.privacy_policy_title}}</h1>
        <p>{{translate.privacy_policy_subtitle}}</p>
    </section>

    <section class="privacy_policy">
        <div class="privacypolicy_content">
            {{company.privacyPolicy.content | raw}}
        </div>
    </section>
{% endblock %}
