{% extends "base.html" %}
{% block title %}
    {{translate.seo_out_history_title}}
{% endblock %}
{% block head %}
    {{ parent() }}
    <meta name="description" content="{{translate.seo_our_history_description}}">
    <meta name="keywords" content="{{translate.seo_our_history_keyboards}}">
{% endblock %}
{% block content %}
    <section class="banner our_history_title">
        <h1>{{translate.our_history_title}}</h1>
        <p>{{translate.our_history_subtitle}}</p>
    </section>

    <section class="our_history">
        <div class="ourhistory_content">
            {{company.ourHistory.content | raw}}
        </div>
        <img src="{{company.ourHistory.coverImageUrl}}" alt="cover image">
    </section>
{% endblock %}