/* You can add global styles to this file, and also import other style files */
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mb-2 {
  margin-bottom: .5em !important;
}

.mb-4 {
  margin-bottom: 1.5em !important;
}

.ml-1 {
  margin-left: .25em !important;
}

.ml-2 {
  margin-left: .50em !important;
}

.ml-3 {
  margin-left: .75em !important;
}

.ml-4 {
  margin-left: 1em !important;
}

.mr-1 {
  margin-right: .25em;
}

.mr-2 {
  margin-right: .50em;
}

.mr-3 {
  margin-right: .75em;
}

.mr-4 {
  margin-right: 1em;
}

.mt-1 {
  margin-top: .25em;
}

.mt-2 {
  margin-top: .5em;
}

.mt-3 {
  margin-top: .75em;
}

.mt-4 {
  margin-top: 1em;
}

.w-100 {
  width: 100%;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

#loaderPage {
  background-color: #295ee0ed;
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 9999;
  justify-content: center;
  align-content: center;
  align-items: center;
  vertical-align: middle;
  margin: 0 auto;
}

.loaderPageGeneralContent {
  margin: 0 auto;
  align-items: center;
  width: 100%;
  height: 100%;
  display: flex;
}

.loaderPageContent {
  margin: 0 auto;
  align-items: center;
  width: 100%;
  height: 20%;
}

.loader,
.loader:before,
.loader:after {
  background: #f0f0f0;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #f0f0f0;
  text-indent: -9999em;
  margin: 0 auto;
  font-size: 11px;
  transform: translateZ(0);
  animation-delay: -0.16s;
  z-index: 9999;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }
  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes spinner-grow {
  0% {
    transform: scale(0);
  }
  50% {
    opacity: 1;
    transform: none;
  }
}

.spinner-grow {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  background-color: currentColor;
  border-radius: 50%;
  opacity: 0;
  animation: spinner-grow .75s linear infinite;
}

.spinner-grow-sm {
  width: 1rem;
  height: 1rem;
}
/*# sourceMappingURL=styles.css.map */