<header id="header">
    <nav>
        <div class="logo_content">
            <a href="./">  
                <img class="logo_header" src="./public/img/logo_inv.svg" alt="logo">
            </a>
        </div>
        <div class="menu_mobile">
            <a id="menu-btn" class="text-dark mobile" href="#" v-on:click="toggleMenu">
                <i class="fas fa-bars"></i>
            </a>

            <a class="text-dark desktop" href="./">{{translate.menu_home}}</a>
            <a class="text-dark desktop" href="our_history">{{translate.menu_our_history}}</a>
            <a class="text-dark desktop" href="events">{{translate.menu_events}}</a>
            <a class="text-dark desktop" href="contact">{{translate.menu_contact}}</a>
            <a class="text-dark desktop" href="private-access">{{translate.menu_sign_in}}</a>

            <div class="social_header desktop">
                {% include 'components/social.html' %}
            </div>
            
            <a href="contact" class="text-dark mobile">
                <i class="fas fa-phone"></i>
            </a>
        </div>
        <div class="menu-container" v-bind:class="{ 'menu-grid-active': isMenuOpen}" >
            <a id="menu-btn" class="text-dark" href="#" v-on:click="toggleMenu">
                <i class="fas fa-times "></i>
            </a>
            <a href="contact" class="text-dark">
                <i class="fas fa-phone"></i>
            </a>
            <ul class="menu">
                <li><a href="./" class="text-muted"><i class="fas fa-home"></i>{{translate.menu_home}}</a></li>
                <li><a href="our_history" class="text-muted"><i class="fas fa-history"></i>{{translate.menu_our_history}}</a></li>
                <li><a href="events" class="text-muted"><i class="far fa-calendar-alt"></i>{{translate.menu_events}}</a></li>
                <li><a href="private-access" class="text-muted"><i class="fas fa-sign-in-alt"></i>{{translate.menu_sign_in}}</a></li>
            </ul>
            {% include 'components/social.html' %}
        </div>
    </nav>
</header>