<div class="social">
    <a href="{{company.youtube}}" target="_blank" class="youtube"><img src="public/img/youtube.svg" alt=""></a>
    <a href="{{company.facebook}}" target="_blank" class="facebook"><img src="public/img/facebook.svg" alt=""></a>
    <a href="{{company.instagram}}" target="_blank" class="instagram"><img src="public/img/instagram.svg" alt=""></a>
</div>