<mat-tab-group class="html_editor_component" color="primary">
    <mat-tab [label]="config.tabEditorLabel">
      <ckeditor [(ngModel)]="value" 
                (blur)="normalize($event)"
                [config]="{placeholder: label, basicEntities : false, entities : false, fillEmptyBlocks : false, forcePasteAsPlainText : true}" 
                [editor]="Editor"></ckeditor>
    </mat-tab>
    <mat-tab [label]="config.tabCodeLabel">
      <mat-form-field appearance="outline">
        <textarea [placeholder]="label" 
                  matInput 
                  [(ngModel)]="value"></textarea>
      </mat-form-field>
    </mat-tab>
  </mat-tab-group>