.html_editor_component {
    margin-bottom: 15px !important;
    
    mat-form-field{
        width: 100%;
    }
    ::ng-deep .mat-tab-body-content{
        overflow: hidden !important;
    }
    
    ::ng-deep mat-tab-group mat-tab-header {
        border: none !important;
    }
    ::ng-deep .mat-form-field-wrapper {
        margin-top: 0px !important;
        margin-bottom: 0px !important;
        padding: 0px;
        textarea {
            //min-height: 5em;
            //max-height: 14em;
            min-height: 30.75vh;
            max-height: 30.75vh;
        }
    }
    ::ng-deep ckeditor {
        div [role="textbox"] {
            //min-height: 4.70em;
            //max-height: 13.70em;
            min-height: 30vh;
            max-height: 30vh;
        }
    }
}